@import "tailwindcss";

@theme {
    --color-primary-50: #eafffe;
    --color-primary-100: #cbffff;
    --color-primary-200: #9efcff;
    --color-primary-300: #5bf6ff;
    --color-primary-400: #00e5ff;
    --color-primary-500: #00c9e5;
    --color-primary-600: #00a0c0;
    --color-primary-700: #037f9b;
    --color-primary-800: #0d657d;
    --color-primary-900: #105469;
    --color-primary-950: #033749;
    --color-primary: #00e5ff;

    --color-secondary-50: #ffffe7;
    --color-secondary-100: #feffc1;
    --color-secondary-200: #fffd86;
    --color-secondary-300: #fff441;
    --color-secondary-400: #ffe60d;
    --color-secondary-500: #ffd700;
    --color-secondary-600: #d19e00;
    --color-secondary-700: #a67102;
    --color-secondary-800: #89580a;
    --color-secondary-900: #74480f;
    --color-secondary-950: #442604;
    --color-secondary: #ffd700;

    --color-dark-50: #ffffff;
    --color-dark-100: #ccd0d0;
    --color-dark-200: #99a1a1;
    --color-dark-300: #667173;
    --color-dark-400: #334244;
    --color-dark-500: #001315;
    --color-dark-600: #001113;
    --color-dark-700: #000e10;
    --color-dark-800: #000a0b;
    --color-dark-900: #000505;
    --color-dark-950: #000000;
    --color-dark: #001315;
}

:root {
    --color-primary-50: #eafffe;
    --color-primary-100: #cbffff;
    --color-primary-200: #9efcff;
    --color-primary-300: #5bf6ff;
    --color-primary-400: #00e5ff;
    --color-primary-500: #00c9e5;
    --color-primary-600: #00a0c0;
    --color-primary-700: #037f9b;
    --color-primary-800: #0d657d;
    --color-primary-900: #105469;
    --color-primary-950: #033749;
    --color-primary: #00e5ff;

    --color-secondary-50: #ffffe7;
    --color-secondary-100: #feffc1;
    --color-secondary-200: #fffd86;
    --color-secondary-300: #fff441;
    --color-secondary-400: #ffe60d;
    --color-secondary-500: #ffd700;
    --color-secondary-600: #d19e00;
    --color-secondary-700: #a67102;
    --color-secondary-800: #89580a;
    --color-secondary-900: #74480f;
    --color-secondary-950: #442604;
    --color-secondary: #ffd700;

    --color-dark-50: #ffffff;
    --color-dark-100: #ccd0d0;
    --color-dark-200: #99a1a1;
    --color-dark-300: #667173;
    --color-dark-400: #334244;
    --color-dark-500: #001315;
    --color-dark-600: #001113;
    --color-dark-700: #000e10;
    --color-dark-800: #000a0b;
    --color-dark-900: #000505;
    --color-dark-950: #000000;
    --color-dark: #001315;
}

.extra-large-button {
    font-size: 1.25rem !important; /* Larger text */
    padding: 1rem 2rem !important; /* Bigger padding */
    border-radius: 8px !important; /* Rounded edges */
}
