@import "tailwindcss";

/* Override dark mode to use data-theme */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Fonts */
@font-face {
    font-family: 'Gugi';
    src: url('/assets/Gugi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-primary: #007C8A;
    --color-accent: #00e5ff;
    /*--color-dark-bg: #000506;*/
    --color-dark-bg: #000e10;
    --color-dark: #001315;
    --color-light-bg: #f5f5f5;
}

:root {
    --color-accent: #00e5ff;
    --color-primary: #007C8A;
    --color-dark-bg: #000e10;
    /*--color-dark-bg: #000506;*/
    --color-dark: #001315;
    --color-light-bg: #f5f5f5;
    --pulse-color: var(--color-light-bg);
}

[data-theme="dark"] {
    --pulse-color: var(--color-primary);
}
/* HTML: <div class="loader"></div> */

.loader {
    width: 18px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--color-accent);
    position: relative;

    /* subtle glow */
    box-shadow: 0 0 6px var(--color-accent);

    animation: pulse-core 1.5s infinite ease-out;
}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;

    animation: pulse-ring 1.5s infinite ease-out;
}

.loader::before {
    animation-delay: -0.5s;
}

.loader::after {
    animation-delay: -1s;
}

@keyframes pulse-core {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulse-ring {
    0% {
        box-shadow: 0 0 0 0 var(--color-primary);
        opacity: 0.7;
    }
    70% {
        box-shadow: 0 0 0 40px var(--pulse-color);
        opacity: 0;
    }
    100% {
        box-shadow: 0 0 0 40px transparent;
        opacity: 0;
    }
}

.slick-active::after {
    background: var(--color-accent) !important;
}

.slick-dots li button {
    background: #808080 !important;
}

.font-logo {
    font-family: 'Gugi', sans-serif !important;
}